<!-- views/base.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>CARMA ASSESSMENT</title>
  <!-- Include Bootstrap CSS and other scripts here -->
  <link type="text/css" href="styles/creditCard.css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <%- include ("./pages/index") %>

  <script  src="js/creditCard.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>